p {
  font-family: sans-serif
  align-content: center;
  color: white;
}

a {
 font-family: sans-serif
  align-content: center;
  color: red; 
}
.blog {
   font-family: sans-serif
  align-content: center;
  color: white;
}
h1 {
   font-family: sans-serif
  align-content: center;
  color: white;
}

html {
  background: black;
}
